<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
</head>

<body>
    <div style="border: 1px solid black;margin-bottom:10px;padding:5px">
        <h1>le titre d'une actualité</h1>
        <p>la description plutôt les news d'une actualité</p>
        <h4>28/11/2023 - 9:51</h4>
    </div>

    <div style="border: 1px solid black;margin-bottom:10px;padding:5px">
        <h1>le titre d'une actualité</h1>
        <p>la description plutôt les news d'une actualité</p>
        <h4>28/11/2023 - 9:51</h4>
    </div>

    <div style="border: 1px solid black;margin-bottom:10px;padding:5px">
        <h1>le titre d'une actualité</h1>
        <p>la description plutôt les news d'une actualité</p>
        <h4>28/11/2023 - 9:51</h4>
    </div>

    <div style="border: 1px solid black;margin-bottom:10px;padding:5px">
        <h1>le titre d'une actualité</h1>
        <p>la description plutôt les news d'une actualité</p>
        <h4>28/11/2023 - 9:51</h4>
    </div>
</body>

</html>